[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
pandas = "*"
lxml = "*"
psycopg2-binary = "*"
sklearn = "*"

[dev-packages]
pylint = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
