{% extends 'base.html' %}

{% block main %}
<link rel="stylesheet" type="text/css" href="static/css/update_button.css">

<div class="buttons">
    <div class="container">
        <h1>TW Stock</h1>
        <form action=""method='POST' >
            <button type="submit" class="btn effect04" data-sm-link-text="UPDATE" target="_blank"><span>Update</span></button>
        </form>
        <!-- <a href="/twstock" class="btn effect04" data-sm-link-text="UPDATE" target="_blank"><span>HOVER</span></a> -->
    </div>
  </div>
  

{% endblock %}